name: Testing

on:
  push:
  pull_request:

jobs:
  testing:
    strategy:
      matrix:
        os:
          - ubuntu-latest
#          - macos-latest
#          - windows-latest
        python-version:
#          - "3.7"
          - "3.8"
#          - "3.9"
#          - "3.10"
#          - "3.11-dev"
{% raw %}
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
{% endraw %}

    - name: Install xonsh shell
      run: pip install xonsh
    - name: Install xontrib
      run: pip install .
    - name: Test
      run: xonsh -c 'xontrib load {{cookiecutter.project_package_name}}'
